PORT=ENTER YOUR PORT NUMBER

MONGO_URI=ENTER THE DATABASE CONNECTION STRING 

ACCESS_SECRET=ENTER ACCESS TOKEN SECRET KEY 

REFRESH_SECRET=ENTER REFRESH TOKEN SECRET KEY 

MAILTRAP_HOST=ENTER MAILTRAP HOST

MAILTRAP_PORT=ENTER MAILTRAP PORT

MAILTRAP_USER=ENTER MAILTRAP USER

MAILTRAP_PASS=ENTER MAILTRAP PASSWORD

SENDER_MAIL=ENTER THE SENDER MAIL FROM WHERE MAIL WILL GO

PROKERALA_CLIENT_ID=YOUR PROKERALA_CLIENT_ID

PROKERALA_CLIENT_SECRET=YOUR PROKERALA_CLIENT_SECRET




